
<div class="col-md-12">

<div class="panel panel-primary">
  <div class="panel-heading"><h4>Depositos</h4></div>
  <div class="panel-body">
 

<table class="table">
  <thead>
    <tr>
      <th>Monto</th>
      <th>Fecha</th>
      
      <th></th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @deposits.each do |deposit| %>
      <tr>
        <td><%= deposit.monto %></td>
        <td><%= deposit.fecha %></td>
        
        <td><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span><%= link_to ' Ver', deposit %></td>
        <!-- <td><%= link_to 'Edit', edit_deposit_path(deposit) %></td> -->
        <!-- <td><%= link_to 'Destroy', deposit, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Deposito', new_deposit_path %>
  </div>
</div>
</div>


