<%- model_class = Deposit -%>
<div class="page-header">
  <h1><%=t '.title', :default => t("deposit") %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @deposit.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:monto) %>:</strong></dt>
  <dd><%= @deposit.monto %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fecha) %>:</strong></dt>
  <dd><%= @deposit.fecha %></dd>
  <dt><strong><%= model_class.human_attribute_name(:foto) %>:</strong></dt>
  <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail">
                  <%= image_tag @deposit.photo_path %>
               <!--    <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                  </div> -->
                </div>
              </li>
              
            </ul>
</dl>





<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              deposits_path, :class => 'btn btn-warning'  %>


 <% if user_signed_in? %>

  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_deposit_path(@deposit), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              deposit_path(@deposit),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => '¿Estas seguro?')) },
              :class => 'btn btn-danger' %>
  <% end %>
</div>
