<p><%=t '.title', :default => t("hello") %> <%= @resource.email %>!</p>

<p><%=t '.title', :default => t("pass_instr1") %></p>

<p><%= link_to t("changePass"), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%=t '.title', :default => t("pass_instr2") %></p>
<p><%=t '.title', :default => t("pass_instr3") %></p>
