<div class="col-md-6 col-md-offset-3">
 
  <div class="panel panel-primary">
    <div class="panel-heading">Regístrate</div>
    <div class="panel-body">   

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <label class="form-group">Correo electrónico</label><br>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <label class="form-group">Contraseña</label>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <label class="form-group">Confirma Contraseña</label><br>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <button class="btn btn-large btn-success" type="submit">Registrar</button>
      </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
